<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Login</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="login-card">
        <form method="POST" action="login"> 
            <label>Email ou nom d'utilisateur</label>
            <input name="identifiant" type="text" required />
            <label>Password</label>
            <input name="password" type="password" required />
            <input type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
